/*

COLORS FOR COLORCODEING

1. Yellow:     ECFF2B
2. Light Blue: 3AE4FF
3. Pink:       FF46FF
4. Orange:     FF6500
5. Green:      33FF42
6. Purple:     BE8FFF
7. Red:        FF3A37
8. Teal:       7CFF9F
9. Blue:       6668FF


*/

:root {
    --main_background_color: #1E113F;           /* Main Background */
    --secondary_background_color: #2B1859;      /* Side Background (Left and Right) */
    --widget_color: #180E33;                    /* Navigation Bar and Button*/
    --widget_hover_color: #06030C;              /* Navigation Bar Hover */
    --widget_color_2: #3C2180;                  /* Input and Button Hover*/
    --widget_color_3: #261550;                  /* Result Input*/
    --card_color: #0f0920;                      /* Card Background */
    --title_color: #ffffff;                     /* Title Color */
    --text_color: #ffffff;                      /* Text Color */

    --accent_card_color: Gold;
    --accent_card_color_2: Crimson;
    --accent_card_color_3: LimeGreen;
    --accent_card_color_4: DodgerBlue;

    --highlight_color_1: #ECFF2B;
    --highlight_color_2: #3AE4FF;
    --highlight_color_3: #FF46FF;
    --highlight_color_4: #FF6500;
    --highlight_color_5: #33FF42;
    --highlight_color_6: #BE8FFF;
    --highlight_color_7: #FF3A37;
    --highlight_color_8: #7CFF9F;
    --highlight_color_9: #6668FF;

    --highlight_text_color: #000000;
}

body {
    color: var(--text_color);
    background-color: var(--main_background_color);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 100vh;
}

/* ---------------------------------------------------------------- Navigation Bar */

.navigation_bar_ul {
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: left;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 0;
    border-radius: 10px;
    background-color: var(--widget_color);
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.navigation_bar_left a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--text_color);
    padding: 0px 16px;
    text-decoration: none;
    height: 60px;
}
.navigation_bar_right {
    margin-left: auto;
}
.navigation_bar_right a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--text_color);
    padding: 0px 16px;
    text-decoration: none;
    height: 60px;
}
.navigation_bar_hover:hover {
    border-radius: 10px;
    background-color: var(--widget_hover_color);
    transition: 0.7s;
}
.navigation_bar_title {
        font-weight: bold;
        font-size: 22px;
    }
.navigation_bar_icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.show_on_phone {
        display: none;
}

/* ---------------------------------------------------------------- Navigation Bar Dropdown */

.navigation_bar_dropdown_content {
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: var(--card_color);
    min-width: 160px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    border-radius: 10px 10px 10px 10px;
}
.navigation_bar_dropdown_content li a {
    height: 50px;
    text-align: left;
    justify-content: flex-start;
}
.navigation_bar_dropdown:hover .navigation_bar_dropdown_content {
    display: block !important;
}
.navigation_bar_dropdown_content_right {
    right: 0;
    left : auto;
}
.navigation_bar_dropdown_devider {
    height: 3px;
    margin: 8px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    list-style: none;
}
.navigation_bar_dropdown_content li a.navigation_bar_dropdown_theme {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.navigation_bar_dropdown_icon {
    padding-right: 3px;
}

/* ----------------------------------------------------------------  Highlighted Text */

.highlight_1 {
    color: var(--highlight_color_1);
}
.highlight_2 {
    color: var(--highlight_color_2);
}
.highlight_3 {
    color: var(--highlight_color_3);
}
.highlight_4 {
    color: var(--highlight_color_4);
}
.highlight_5 {
    color: var(--highlight_color_5);
}
.highlight_6 {
    color: var(--highlight_color_6);
}
.highlight_7 {
    color: var(--highlight_color_7);
}
.highlight_8 {
    color: var(--highlight_color_8);
}
.highlight_9 {
    color: var(--highlight_color_9);
}

.highlight_input_1 {
    background-color: var(--highlight_color_1) !important;
}
.highlight_input_2 {
    background-color: var(--highlight_color_2) !important;
}
.highlight_input_3 {
    background-color: var(--highlight_color_3) !important;
}
.highlight_input_4 {
    background-color: var(--highlight_color_4) !important;
}
.highlight_input_5 {
    background-color: var(--highlight_color_5) !important;
}
.highlight_input_6 {
    background-color: var(--highlight_color_6) !important;
}
.highlight_input_7 {
    background-color: var(--highlight_color_7) !important;
}
.highlight_input_8 {
    background-color: var(--highlight_color_8) !important;
}
.highlight_input_9 {
    background-color: var(--highlight_color_9) !important;
}

.text_highlight {
    color: var(--highlight_text_color);
}

/* ---------------------------------------------------------------- Background Divs + Card */

* {
    box-sizing: border-box;
}
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    min-height: 100vh;
    box-sizing: border-box;
}
.card_view {
    background-color: var(--card_color);
    border-left: var(--stripe_color) solid 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 23px;
    font-weight: bold;
}

.description_card_accent {
    --stripe_color: var(--accent_card_color);
}
.formula_card_accent {
    --stripe_color: var(--accent_card_color_2);
}
.calculator_card_accent {
    --stripe_color: var(--accent_card_color_3);
}
.example_task_card_accent {
    --stripe_color: var(--accent_card_color_4);
}

.description_accent {
    color: var(--accent_card_color);
}
.formula_accent {
    color: var(--accent_card_color_2);
}
.calculator_accent {
    color: var(--accent_card_color_3);
}
.example_task_accent {
    color: var(--accent_card_color_4);
}

/* ---------------------------------------------------------------- General Stuff */

.title {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: var(--title_color);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}
.button {
    background-color: var(--widget_color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.7s;
}
.button:hover {
    background-color: var(--widget_color_2);
}
.hidden_text {
    display: none;
}
.input {
    background-color: var(--widget_color_2);
    border-radius: 5px;
    border: none;
    display: inline-block;
    vertical-align: bottom;
    min-width: 30px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.2;
    margin: 0 2px;
}
.result {
    background-color: var(--widget_color_3);
}
.keyword {
    font-weight: bold;
}
.info {
    color: aqua;
    font-size: small;
    cursor: help;
    position: relative;
    top: -10px;
    text-decoration: none;
}
.monospace {
    font-family: "Segoe UI Mono", monospace;
    font-size: 18px;
    font-style: normal;
    line-height: 1.4;
}

/* ---------------------------------------------------------------- Layout for Phone */

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
        font-size: 15px;
    }
    .main {
        flex: 0 0 100%;
        padding: 15px;
        min-width: 0;
    }
    .card_view {
        width: 100%;
        overflow: hidden;
    }
    .title {
        margin-top: 90px;
        padding-left: 0;
        font-size: 35px;
        text-align: center;
    }
    .horizontal_scroll {
        display: block;
        overflow-x: auto;
        white-space: pre;
        overflow-wrap: normal;
        max-width: 100%;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 4px;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1); 
    }
    .input {
        font-size: 15px;
        min-width: 25px;
    }
    .info {
        position: relative;
        top: -6px;
    }
    .monospace {
        font-size: 13px;
    }
    .hidden_text {
        display: none;
    }
    .button {
        font-size: 13px;
        padding: 10px 20px;
    }
/* ---------------------------------- Navigation Bar */
    .navigation_bar_ul {
        position: absolute;
        width: 95%;
    }
    .navigation_bar_dropdown_content {
        min-width: 100px;
    }
    .show_on_phone {
        display: block;
    }
    .hide_on_phone {
        display: none;
    }
    .navigation_bar_title {
        font-size: 20px;
    }
    .navigation_bar_icon {
        width: 19px;
    }
    .navigation_bar_left a, .navigation_bar_right a {
        padding: 0px 8px;
    }
}